@import '@economist/component-pager';
@import '@economist/component-font-neutra2';

.Gallery {
  width: 100%;
  max-width: 1190px;
  margin-bottom: 20px;
}

.Gallery--images-shown {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity .5s linear;
  -moz-transition: opacity .5s linear;
  -o-transition: opacity .5s linear;
  transition: opacity .5s linear;
}

.Gallery--images figure {
  margin: 0;
}
.Gallery--images img {
  display: block;
}
/* Hide map */
.Gallery--images-hidden {
  opacity: 0;
}

.Gallery--features {
  height: 90px;
  width: 100%;
  background-color: #393F43;
  border-bottom: 10px solid #E3120B;
}

.Gallery--features-content {
  float: left;
  background-color: #393F43;
  color: white;
  height: 100%;
  width: 50%; 
}

.Gallery--features-scenechange {
  float: left;
  background-color: #393F43;
  width: 50%;
  height: 100%;
}

.Gallery--features-content-title {
  width: calc(28% - 10px);
  text-align: right;
  font-family: "Neutra2Display-Titling";
  font-size: 48px;
  float: left;
  margin: 0;
  padding: 0;
  padding: 10px 10px 0 0;
  line-height: 0;
  line-height: 40px;
  height: calc(100% - 10px);
  border-right: 1px solid #dadada;
}

.Gallery--features-content--caption {
  float: left;
  width: calc(72% - 11px);
  
  margin: 0;
  padding: 10px 0 0 10px;
  
  text-align: left;
  font-family: "Neutra2Display-Medium";
  font-size: 21px;
}

/* OVERWRITE STYLES IN Pager */
.Gallery .Pager {
  height: 100%;
}
.Gallery .Pager ul {
  padding: 0;
  margin: 15px 10px 0 0;
  overflow: hidden;
  float:right;
}

.Gallery .Pager li {
  padding: 0 10px;
  height: 60px;
}
/* Arrows */
.Gallery .Pager .Pager-previous,
.Gallery .Pager .Pager-next {
  padding: 0;
  width: auto;
}
.Gallery .Pager-previous svg,
.Gallery .Pager-next svg {
  width: 60px;
  height: 60px;
  fill: #dadada;
}
.Gallery .Pager-previous:hover svg,
.Gallery .Pager-next:hover svg {
  fill: #ffffff;
}

.Gallery .Pager li span {
  width: 0;
  height: 0;
  border: solid 6px #dadada;
  border-radius: 6px;
  background-color: #dadada;
  text-indent: -20px;
  overflow: hidden;
  display: block;
  margin-top: 24px;
}
.Gallery .Pager li .Pager-index-selected {
  border-color: #ffffff;
}
@media screen and (max-width: 850px) {
  .Gallery .Pager li {
    padding: 0 7px;
  }
}
@media screen and (max-width: 730px) {
  .Gallery .Gallery--features-content {
    width: 45%;
  }
  .Gallery .Gallery--features-scenechange {
    width: 55%;
  }
}
@media screen and (max-width: 670px) {
  .Gallery .Gallery--features {
     height: auto; 
  }
  .Gallery .Gallery--features-content,
  .Gallery .Gallery--features-scenechange {
    width: 100%;
    float: none;
  }
  .Gallery .Gallery--features-content-title {
    width: 18%;
  }
  .Gallery .Pager ul {
    margin: 0;
    float: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}