@import '@economist/component-scenechanger';
@import '@economist/component-font-neutra2';

.Gallery {
  width: 100%;
  max-width: 1190px;
  min-width: 300px;
  margin-bottom: 20px;
}

.Gallery--images-shown {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity .5s linear;
  -moz-transition: opacity .5s linear;
  -o-transition: opacity .5s linear;
  transition: opacity .5s linear;
}

/* OVERWRITE IMG TAG IN COMPONENT-IMAGECAPTION */
.Gallery--images figure {
  margin: 0;
}
.Gallery--images img {
  display: block;
}
/* Hide map */
.Gallery--images-hidden {
  opacity: 0;
}

/* Wrapper for all 'nav' elements: title, caption and scenechanger*/
.Gallery--features {
  position: relative;
  height: 90px;
  width: 100%;
  background-color: #393F43;
  border-bottom: 10px solid #E3120B;
}

.Gallery--features-content {
  top: 0;
  left: 0;
  position: absolute;
  background-color: #393F43;
  color: white;
  height: 80px;
  width: 50%; 
}

.Gallery--features-scenechange {
  position: absolute;
  background-color: #393F43;
  top: 0;
  left: 50%;
  width: 48%;
  height: 30px;
  margin-top: 23px;
}

.Gallery--features-content-title {
  position: absolute;
  left: 0;
  top: 0;
  width: 28%;
  padding-top: 10px;
  height: 90%;
  padding-right: 2%;
  text-align: right;
  font-family: "Neutra2Display-Titling";
   font-size: 48px;
  line-height: 48px;
}

.Gallery--features-content--caption {
  position: absolute;
  left: 30%;
  top: 0;
  width: 67%;
  height: 100%;
  padding-top: 10px;
  padding-left: 2%;
  border-left: 1px solid #dadada;
  text-align: left;
  font-family: "Neutra2Display-Medium";
  line-height: 27px
}

@media screen and (max-width: 500px) {
  .Gallery--features {
    height: 105px; 
  }

  .Gallery--features-content {
    width: 100%;
    height: 50px; 
  }

  .Gallery--features-scenechange {
    left: 3%;
    top: 35px;
    width: 94%;
    height: 30px; 
  }
  .Gallery--features-content-title {
    font-size: 30px;
    line-height: 30px;
    padding-right: 5px;
    height: 35px;
  }
  .Gallery--features-content--caption {
    height: 55%;
    font-size: 14px;
    line-height: 18px;
  }
}


/* OVERWRITE STYLES IN SCENECHANGER */
.SceneChanger-arrow-left,
.SceneChanger-arrow-left {
  margin: 0;
}
.SceneChanger-arrow-left:hover,
.SceneChanger-arrow-left:hover {
  background: #E3120B;
}
.SceneChanger-onedot-wrapper:hover {
  background-color: #E3120B;
}
.SceneChanger-dot {
  border-width: 6px;
  margin: -6.05px 0 0 -6.05px;
}
.SceneChanger-dot-highlight {
  border-color: #E3120B;
}
.SceneChanger {
  display: none;
}
.Gallery-loaded .SceneChanger {
  display: block;
}