@import '@economist/component-scenechanger';

.gallery {
  width: 100%;
  margin-bottom: 20px;
}

.gallery__slide--hidden {
  opacity: 0;
  height: 0;
}

.gallery__slide--visible {
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s linear;
}

.gallery__image {
  margin: 0;
}

.gallery__features {
  position: relative;
  width: 100%;
  height: 90px;
  background-color: var(--gallery__features--background-color, #393f43);
  border-bottom: 10px solid var(--gallery__features--border-bottom-color, #e3120b);
}

.gallery__features-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 80px;
  color: #fff;
  background-color: var(--gallery__features-content--background-color, #393f43);
}

.gallery__features-navigation {
  position: absolute;
  top: 0;
  left: 50%;
  width: 48%;
  height: 30px;
  margin-top: 23px;
  background-color: var(--gallery__features-navigation--background-color, #393f43);
}

.gallery__features-content-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 28%;
  height: 90%;
  padding-top: 10px;
  padding-right: 2%;
  font-size: 48px;
  line-height: 48px;
  text-align: right;
}

.gallery__features-content-caption {
  position: absolute;
  top: 0;
  left: 30%;
  width: 67%;
  height: 100%;
  padding-top: 10px;
  padding-left: 2%;
  line-height: 27px;
  text-align: left;
  border-left: 1px solid var(--gallery__features-content-caption--border-left-color, #dadada);
}

.scene-changer__dot::after {
  margin: -6.05px 0 0 -6.05px;
  border-width: 6px;
}

@media screen and (max-width: 500px) {
  .gallery__features {
    height: 105px;
  }
  .gallery__features-content {
    width: 100%;
    height: 50px;
  }
  .gallery__features-navigation {
    top: 35px;
    left: 3%;
    width: 94%;
    height: 30px;
  }
  .gallery__features-content-title {
    height: 35px;
    padding-right: 5px;
    font-size: 30px;
    line-height: 30px;
  }
  .gallery__features-content--caption {
    height: 55%;
    font-size: 14px;
    line-height: 18px;
  }
}
